<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle},'none')"/>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2 class="">Manage Categories | [[${pageTitle}]]</h2>
		</div>
		
		<form th:action="@{/categories/save}" method="post" style="max-width:700px;margin:0 auto;padding:10px;border:bg-dark"
		enctype="multipart/form-data"
		th:object="${category}"   onsubmit="return checkUnique(this);">
		
			<input type="hidden" id="id" name="id" th:field="*{id}"/>
			<div class="border border-secondary rounded p-3">
			<div class="form-group">
				<label for="categoryname">Category Name</label> <input
					type="text" class="form-control" th:field="*{name}" required minlength ="3" maxlength="128" 
					id="name"
					aria-describedby="categorynameHelp" placeholder="Enter Category"> 
					
				
			</div>
			
			
			<div class="form-group">
				<label for="alias">Alias</label> <input
					type="text" class="form-control" th:field="*{alias}" 
					minlength="3" maxlength="128" 
					 id="alias"
					placeholder="Enter Alias">
			</div>
			
			<div class="form-group">
				<label for="parentCategory">Parent Category</label> 
				<div class="col-sm-8">
					<select class="form-control" th:field="*{parent}">
						<option value="0">[No Parent]</option>
						<th:block th:each="cat : ${listCategories}">
							<option th:value="${cat.id}">[[${cat.name}]]</option>
						</th:block>
					</select>
				</div>
			</div>
			
			<div class="form-group mt-1">
				<label for="photos">Image</label> &nbsp 
				<input type="hidden" th:field="*{image}"/>
				<input type="file" id="fileImage" name="fileImage" accept="image/png,image/jpeg"
					class="mb-2" th:required="${category.imagePath ==null}" required/>
					<div class="mt-2 ml-5" >
						<img th:src="@{${category.imagePath}}" id="thumbnail" alt="Image preview"
						class="img-fluid" />
						
						
					</div>
			</div>
			
			<div class="form-group">
				<label for="enabled">Enabled</label> &nbsp <input
					type="checkbox" th:field="*{enabled}" 
					 id="enabled">
			</div>
			
			
			<div class="text-center">
				<button input type="submit" class="btn btn-success">Save</button>
				<button input type="button" class="btn btn-dark" id="buttonCancel">Cancel</button>
				
			</div>
			
			<div th:replace="modal_fragments :: modal_dialog"></div>
		</form>
		
		
	</div>
	
	
		
		<div th:replace="footer :: footer"></div>
	</div>
	
<script type="text/javascript">
	moduleURL="[[@{/categories}]]";
	MAX_FILE_SIZE =502400;
	function checkUnique(form){
		catId = $("#id").val();
		catName = $("#name").val();
		catAlias = $("#alias").val();
		csrfValue = $("input[name='_csrf']").val();
		
		url = "[[@{/categories/check_unique}]]";
		
		params = {id:catId ,name:catName ,alias:catAlias ,_csrf:csrfValue};
		
		$.post(url,params,function(response){
			if(response == "OK"){
				form.submit();
			}
			else if(response == "DuplicateAlias"){
				showModalDialog("Warning","There is another Category having the same alias that is "+catAlias);
			}
			else if(response == "DuplicateName"){
				showModalDialog("Warning","There is another Category having the same Name that is "+catName);
			}
			else{
				showModalDialog("Error","Unknown response from server");
			}
			
		}).fail(function(){
			showModalDialog("Error","You could not connect to the Server");
		})
		return false;
	}
	
	function showModalDialog(title,message)
	{
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>

</html>